.item-add-form {
  display: block;
  margin-top: 16px;
  padding: 0.25rem 0.75rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.add-form-input {
  width: auto;
  height: 36px;
  flex-grow: 1;
  padding: 0 0.75rem 0 1.25rem;

  font-size: 1.25rem;
  line-height: 35px;
  color: #222;
  border: 0 none;
  outline: none;
}

.item-add-form button {
  width: 35px;
  margin: 3px;
}

.item-add-form button:hover {
  margin: 4px 3px;
}
